<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/app-proyecto1">Inicio</a>
        <a class="navbar-brand" href="/app-proyecto1/tareas">Tareas</a>
        <a class="navbar-brand" href="/app-proyecto1/proyectos">Proyectos</a>
        <a class="navbar-brand" href="/app-proyecto1/miembros">Miembros</a>
        <a class="navbar-brand" href="/app-proyecto1/buscar">Buscar</a>
        
        
        {% if user.is_authenticated %}

            {% if url_avatar%}
                <img src="{{url_avatar}}" height="35px" alt="avatar">
            {% endif %}

            <p>Bienvenido {{user.username}}</p>
            <a class="btn btn-primary" href="/app-proyecto1/logout">Cerrar sesión</a>
            <a class="btn btn-primary" href="/app-proyecto1/editar-perfil/">Editar perfil</a>


            {% else %}
            <a class="btn btn-primary" href="/app-proyecto1/login">Ingresar</a>
            <a class="btn btn-primary" href="/app-proyecto1/register">Registarse</a>

        {% endif %}

    </div>
</nav>


