{% extends 'padre.html' %}

{% block ContendoQueCambia %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

<h3>Agregar nueva tarea</h3>

<form method="POST" action="{% url 'agregar-tarea' %}">
    {% csrf_token %}
    
    
    <div class="form-group">
        <label for="{{ nuevatarea.nombredetarea.id_for_label }}">Nombre de la Tarea:</label>
        {{ nuevatarea.nombredetarea }}
    </div>
    
    <div class="form-group">
        <label for="{{ nuevatarea.estado.id_for_label }}">Estado:</label>
        {{ nuevatarea.estado }}
    </div>
    
    <div class="form-group">
        <label for="{{ nuevatarea.proyecto.id_for_label }}">Proyecto:</label>
        {{ nuevatarea.proyecto }}
    </div>
    
    <button type="submit">Guardar Tarea</button>
</form>
{% endblock ContendoQueCambia %}