{% extends 'padre.html' %}

{% block ContendoQueCambia %}
    <h1>Buscar</h1>

    <form method="get" action="{% url 'buscar' %}">
        <h3>Buscar tareas</h3>
        <button type="submit" name="tipo_busqueda" value="tarea">Buscar tareas</button>
    </form>
    
    {% if tipo_busqueda == 'tarea' %}
        <h3>Resultados de búsqueda de tareas:</h3>
        <ul>
            {% for tarea in resultados %}
                <li>
                    {{ tarea.nombredetarea }}
                    <a href="{% url 'detalle_tarea' tarea.id %}" class="btn btn-primary btn-sm">Leer más</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="get" action="{% url 'buscar' %}">
        <h3>Buscar proyectos</h3>
        <button type="submit" name="tipo_busqueda" value="proyecto">Buscar proyectos</button>
    </form>

    {% if tipo_busqueda == 'proyecto' %}
        <h3>Resultados de búsqueda de proyectos:</h3>
        <ul>
            {% for proyecto in resultados %}
                <li>
                    {{ proyecto.nombredeproyecto }}
                    <a href="{% url 'detalle_proyecto' proyecto.id %}" class="btn btn-primary btn-sm">Leer más</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="get" action="{% url 'buscar' %}">
        <h3>Buscar miembros</h3>
        <button type="submit" name="tipo_busqueda" value="miembro">Buscar miembros</button>
    </form>

    {% if tipo_busqueda == 'miembro' %}
        <h3>Resultados de búsqueda de miembros:</h3>
        <ul>
            {% for miembro in resultados %}
                <li>
                    {{ miembro.nombre }}
                    <a href="{% url 'detalle_miembro' miembro.id %}" class="btn btn-primary btn-sm">Leer más</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
</form>
{% endblock ContendoQueCambia %}