<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{/app-proyecto1/}">Inicio</a>
        <a class="navbar-brand" href="/app-proyecto1/tareas">tareas</a>
        <a class="navbar-brand" href="/app-proyecto1/proyectos">proyectos</a>
        <a class="navbar-brand" href="/app-proyecto1/miembros">miembros</a>
        <a class="navbar-brand" href="/app-proyecto1/buscar">buscar</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>